/* Author - Jason Huffman 		\\
 * Date - April 2019			 \\		 
 * Team LAMBDA 					//\\	
 * CS 440					   //  \\		   
 */

 @font-face {
 	
 	src: url('OptimusPrinceps.ttf');
 }
 
 @font-face {
 	
 	src: url('OptimusPrincepsSemiBold.tff');
 }
 
.root{
	
    -fx-background-color: #330303;
    -fx-font-family: "OptimusPrinceps";
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#775d3d 0%, #785d3d 25%, #795d3d 75%, #7a5d3d 100%);
    -fx-text-fill: white;
}

.list-cell:odd { 
    -fx-background-color: #b0b0b0;
}

.list-cell:even { 
    -fx-background-color: #909090;
}

.list-cell:filled:hover {
    -fx-background-color: #808080;
    -fx-text-fill: white;
}

.text-area {
    -fx-font-family: "OptimusPrinceps";
    -fx-font-size: 18;
    -fx-text-fill: #a88e00;
    -fx-display-caret:true;
}


.text-area .content{
      -fx-background-color: #1e1e1e;
      -fx-font-family: "OptimusPrinceps";
  }

.label{
	-fx-font-family: "OptimusPrinceps";
    -fx-text-fill: #808080;
}
.button-red{
	-fx-font-family: "OptimusPrinceps";
    -fx-background-color: #8B0000;
}
.button-blue{
	/*-fx-font-family: "OptimusPrinceps";*/
    -fx-background-color: #7cafc2;
    -fx-text-fill: #faf2f4;
    -fx-background-radius: 6;
}
#bold-label{
    -fx-font-weight: bold;
    -fx-font-family: "OptimusPrinceps";
}

.tab-pane:top *.tab-header-area {
	-fx-font-family: "OptimusPrinceps";
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.417em 0.17em 0.0em 0.0em;
}/*Add in for bottom pane as well*/

.tab-pane *.tab-header-background{
	-fx-background-color: #bf9595, derive(#bf9595, -50%);
	-fx-effect: innershadow(gaussian , rgba(153,148,148,0.4) , 2, 0.0 , 0 , 0);
}

.tab-pane .tab{
    -fx-background-color: #1e1e1e;
	-fx-faint-focus-color: transparent;
}

.tab-pane .tab:selected{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
	-fx-font-family: "OptimusPrincepsSemiBold";
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #a0a0a0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.input[type=text]{
	-fx-font-family: "OptimusPrinceps";	
	
}

.menu-bar{
  -fx-background-color: #513232;
 -fx-focus-color: transparent;

}

.menu-bar .label {
    -fx-font-size: 14 pt;
    -fx-font-family: DS;
    -fx-text-fill: #8B8B8B;

}


.menu:hover {
    -fx-background-color: #654321;
}

.menu-item .label{
     -fx-font-size: 14 pt;
     -fx-background-color: #654321;
     
      /*-fx-background-color: #a05050;*/
}

.context-menu {
    
    -fx-background-color: #654321;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; 
}