/* Author - Jason Huffman 		\\
 * Date - April 2019			 \\		 
 * Team LAMBDA 					//\\	
 * CS 440					   //  \\		   
 */
 
 @font-face {
 	
 	src: url('OptimusPrinceps.ttf');
 }
 
 @font-face {
 	
 	src: url('OptimusPrincepsSemiBold.tff');
 }
 
.root{
	
    -fx-background-color: #513232;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#775d3d 0%, #785d3d 25%, #795d3d 75%, #7a5d3d 100%);
    -fx-text-fill: white;
}

.list-cell:odd { 
    -fx-background-color: #b0b0b0;
}

.list-cell:even { 
    -fx-background-color: #909090;
}

.list-cell:filled:hover {
    -fx-background-color: #808080;
    -fx-text-fill: white;
}

.text-area {
    -fx-font-family: "Optimus Princeps";
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-display-caret:true;
}


.text-area .content{
      -fx-background-color: black;
      -fx-font-family: "Optimus Princeps";
  }

.label{
	-fx-font-family: "Optimus Princeps";
    -fx-text-fill: #808080;
}
.button-red{
	-fx-font-family: "Optimus Princeps";
    -fx-background-color: #8B0000;
}
.button-blue{
	/*-fx-font-family: "OptimusPrinceps";*/
    -fx-background-color: #7cafc2;
    -fx-text-fill: #faf2f4;
    -fx-background-radius: 6;
}
#bold-label{
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}

.tab-pane:top *.tab-header-area {
	-fx-font-family: "Optimus Princeps";
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.417em 0.17em 0.0em 0.0em;
}/*Add in for bottom pane as well*/

.tab-pane .tab
{
    -fx-background-color: #1e1e1e;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
	-fx-font-family: "Optimus Princeps Semi Bold";
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #a0a0a0;
}

.input[type=text]{
	-fx-font-family: "Optimus Princeps";	
	
}