/* Author - Jason Huffman 		\\
 * Date - April 2019			 \\		 
 * Team LAMBDA 					//\\	
 * CS 440					   //  \\		   
 */
.root{
    -fx-background-color: #272121;
}


.label{
    -fx-text-fill: #e8e8e8;
}
.button-red{
    -fx-background-color: #8B0000;
}
.button-blue{
    -fx-background-color: #7cafc2;
    -fx-text-fill: #faf2f4;
    -fx-background-radius: 4;
}
#bold-label{
    -fx-font-weight: bold;
}

.input[type=text]{
	-fx-font: "papyrus";
}